.header {
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  z-index: 2;
  background-color: black;
}

.nav {
  padding: 0 5px;
}

.header img {
  height: 50px;
  margin-left: 10px;
}

.header .nav p {
  display: inline-block;
  text-decoration: underline;
  padding: 10px;
}

.header .nav p a {
  color: seashell;
}

.main {
  position: relative;
  top: 70px;
}

.mission {
  display: flex;
  background-image: url("./assets/images/img-mission-background.jpg");
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.mission .text {
  background-color: black;
}

.mission .text h2 {
  width: 100%;
}
.mission .text h4 {
  width: 100%;
}

.month {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month .item {
  margin-right: 25px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month .item img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.locations {
  min-height: 500px;
  width: 100%;
  background-image: url("./assets/images/img-locations-background.jpg");
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.locations h2 {
  padding-top: 80px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.locations .location {
  row-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.locations .location .place {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 300px;
  background-color: black;
  margin: 0 20px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  margin-top: 20px;
}
.footer h2 {
  margin-top: 5px;
}

#copyright {
  float: left;
  margin-left: 20px;
  padding-bottom: 30px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
